.bg-login{
    background: url("https://cdn.pixabay.com/photo/2016/11/18/17/20/living-room-1835923_960_720.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}